<% provide(:title, "About") %>
<h1>About</h1>
<p>
	My site is the shit. I love ruby on rails. Fr Fr. 
	Listen to this <a href="https://www.youtube.com/watch?v=qrZQom4hVBI&list=RDMMqrZQom4hVBI&start_radio=1"><em>song</em></a>
</p>