<footer class="footer">
	<small>
		The <a href="https://www.youtube.com/watch?v=kncAloUcE60&t=968s">Video Bible</a>
		has the <a href="https://www.youtube.com/watch?v=aXMRw0ZmI-A"><em>answers</em></a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><a href="https://www.nytimes.com/">News</a></li>
		</ul>
	</nav>
</footer>